In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
full_labels = pd.read_csv('jeans_labels.csv')

In [3]:
full_labels.head()

  filename  width  height  class  xmin  ymin  xmax  ymax
0    0.jpg    800     800  jeans     6   105   341   800
1    0.jpg    800     800  jeans   364   277   564   800
2    1.jpg   1200    2072  jeans   339   786   925  1789
3   10.jpg    790     912  jeans   101   361   301   762
4   10.jpg    790     912  jeans   403   125   753   711

In [4]:
grouped = full_labels.groupby('filename')

In [5]:
grouped.apply(lambda x: len(x)).value_counts()

1    493
2     92
3     15
4      8
dtype: int64

### split each file into a group in a list

In [6]:
gb = full_labels.groupby('filename')

In [7]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [8]:
len(grouped_list)

608

In [9]:
train_index = np.random.choice(len(grouped_list), size=160, replace=False)
test_index = np.setdiff1d(list(range(200)), train_index)

In [10]:
len(train_index), len(test_index)

(160, 144)

In [11]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [12]:
len(train), len(test)

(206, 181)

In [13]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)